<include file="./Public/PT/header.html" />
<include file="./Public/PT/navbar.html" />
<div class="container-fluid">
    <div class="row-fluid">
        <include file="./Public/PT/sidebar.html" />
        <!--/span-->
        <div class="span9" id="content">
              
            <block name="content"></block>
        </div>
    </div>
    
    <div class="row"></div>
    <footer>
        <hr/>
        <p>&copy; DBcourse 闫张增小组2015春</p>
    </footer>
</div>
<!--/.fluid-container-->
<include file="./Public/PT/footer.html" />
